.gradient-custom {
    /* fallback for old browsers */
    background: #008c9e;


}

.card-registration .select-input.form-control[readonly]:not([disabled]) {
    font-size: 1rem;
    line-height: 2.15;
    padding-left: .75em;
    padding-right: .75em;
    
}

.card-registration .select-arrow {
    top: 13px;
}

.infocompra{
    font-size: 5rem;
}
.cor {
    background-color: #008c9e;
}

.meutexto {
    text-align: center;
    padding-left: 4rem;
}